*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parkinsans', sans-serif;
}

:root{
    --azul: #88a5bf;
    --nude: #e9c7ac;
    --amarelo: #ffd2a1;
    --vermelho: #bf6341;
    --marrom: #544339;
    --header: #B4CED9;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-default {
    background-color: var(--azul);
}

.navbar-default .navbar-nav .nav-link {
    color: #fff;
    font-family: 'Parkinsans', sans-serif;
    font-size: 1.1rem;
}

.navbar-default .navbar-nav .nav-item:hover,
.navbar-default .navbar-nav .nav-item:focus {
    color: var(--amarelo);
}

.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Carter One', sans-serif;
    font-size: 1.5rem;
}
.userPage{
    color: #fff;
    font-family: 'Carter One', sans-serif;
}

header {
    padding: 10px 20px;
    height: 8vh;
position: relative;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar-nav{
    gap: 20px;
}

header a{
color: white;
outline: none;
text-decoration: none;
}


.filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.search-bar{
    flex: 1;
    padding: 10px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    color: var(--marrom);
}

.category-filter, .torra-filter{
    padding: 10px;
    border: 1px solid var(--azul);
    color: var(--marrom);
    border-radius: 5px;
}

.custom-form{
    width: 50vw !important;
    margin: 0 auto;
}

.alert{
    position: absolute !important;
    bottom: 2rem;
    z-index: 2;
    right: 0;
}

